@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Roboto:300,400,500,700,900|Satisfy&display=swap");

.Satisfy {
  font-family: "Satisfy";
}
.navbar {
  z-index: 1000 !important;
}
.nav_top_link {
  transition: 0.4s all;
  padding: 10px;
}
.nav_top_link:hover {
  transform: rotateY(180deg);
  color: #ffc107;
}
.header {
  width: 100%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(./assets/img/hero/h1_hero.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.header::before {
  position: absolute;
  content: "";
  background-color: rgba(32, 54, 38, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
}
.hero__caption span {
  position: relative;
}
.hero__caption span::before {
  position: absolute;
  content: "";
  background-image: url(./assets/img/hero/hero-_ineShape.png);
  background-repeat: no-repeat;
  height: 35%;
  z-index: -1;
  bottom: 8%;
  left: -4%;
  right: -2px;
  background-size: 100%;
}

.slider-area .hero-cap h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.search-box {
  padding: 25px 40px 25px 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
/* select {
  transition: 0.4s all;
} */
.favourite_card {
  overflow: hidden;
}
.favourite_card img {
  transition: 0.4s all;
  overflow: hidden;
}
.favourite_card:hover img {
  transform: scale(1.1);
  /* overflow: hidden; */
}
.play_video {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/img/service/video-bg.jpg);
  /* background-size: cover; */
  object-fit: cover;
  background-repeat: no-repeat;
}
.video-caption .video-icon {
  display: inline-block;
  border: 1px solid #8fa1b6;
  padding: 14px;
  margin-bottom: 65px;
}
.video-caption .video-icon a {
  background: #fde02f;
  color: #000000;
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 95px;
  border-radius: 3px;
}
.about_item {
  width: 50%;
}
.support {
  width: 500px;
  position: relative;
}
.support_border {
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid rgba(1, 75, 133, 0.8);
  opacity: 80px;
}
.support_since {
  position: absolute;
  background: rgba(1, 75, 133, 0.8);
  padding: 10px 55px;
  font-size: 60px;
  color: #ffe42c;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Barlow Condensed";
  bottom: 120px;
  right: -100px;
  transform: rotate(-90deg);
}
.border-btn {
  border: 2px solid #014b85;
  color: #014b85;
  font: "Barlow Condensed";
  background: none;
  /* -moz-user-select: none; */
  padding: 20px 50px;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  border-radius: 5px;
  position: relative;
  transition: color 0.4s linear;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.border-btn::before {
  border: 2px solid transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #014b85;
  z-index: -1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
  border-radius: 0;
}
.border-btn:hover {
  color: #fff;
}
.border-btn:hover::before {
  transform: scaleY(1);
  order: 2px solid transparent;
}
.testimonials {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 120px; */
  /* padding-bottom: 120px; */
  background-image: url(./assets/img/testmonial/testimonial_bg.jpg);

  background-size: cover;
}
.recent_blog_card {
  overflow: hidden;
}
.recent_blog_card img {
  transition: 0.4s all;
  overflow: hidden;
}
.recent_blog_card:hover img {
  transform: scale(1.1);
  /* overflow: hidden; */
}
.footer {
  width: 100%;
  height: auto;
  padding: 150px 0px 150px 0px;
  background-image: url(./assets/img/service/footer_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_item a {
  transition: 0.4s all;
}
.footer_item a:hover {
  color: #ffa801;
  transform: translateX(10px);
}
.contact {
  background-image: url(./assets/img/hero/contact_hero.jpg);
  background-size: cover;
  background-position: center;
}
.blog {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(./assets/img/hero/about.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bg_img {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(./assets/img/hero/about.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: #014b85;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-circle2 {
  border-top-color: #0078ff;
}
.preloader .preloader-img {
  position: absolute;

  top: 50%;
  z-index: 200;
  left: 23%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-img img {
  max-width: 55px;
}
.preloader .pere-text strong {
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase;
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@media screen and (max-width: 1024px) {
  .support {
    width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .support {
    width: 690px;
  }
}

@media screen and (max-width: 425px) {
  .search-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .support {
    width: 385px;
  }
  .support_border {
    display: none;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
